<body class="welcome">
  <div class="ryan-title">
    <h1>Welcome to your CookBook</h1>
  </div>

<div class="index">
  <div class="row container">
    <a class="btn btn-info" href="/recipes">Browse Recipes</a>
    <a class="btn btn-info" href="/recipes/new">Add Recipes</a>
  </div>
</div>
</body>
