Here are your recipes


<h2><% @recipes.each do |recipe| %></h2>
<ul><form action="/recipes/<%= recipe.id %>/delete" method="post">
  <li><%= recipe.name %><br>
    <form action="/recipes/<%= recipe.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" id="recipe_id" name="recipe_id" value="<%= recipe.id %>">
      <button class="btn btn-danger btn-sm" type="submit">Delete</button>
    </form>
  </li>

</ul>
<% end %>
