<h2>Add a recipe</h2>

<form action="/recipes" method="post">
  <label for="recipe_name">Recipe Name</label>
  <input type="text" name="recipe_name" placeholder="Ex. California Burrito">
  <button name="recipe_name" type="submit">Add Recipe</button>

</form>
