<h2>Add tags</h2>
<ul>

  <form action="/tags_add" method="post">
    <label for="category"></label>
    <input type="text" name="category" placeholder="Deer">
    <button class="btn btn-danger btn-sm" type="submit">Add</button>
  </form>
  </li>


</ul>
