.jumbotron {
  height: 50%;
  width: 100%;
}

.index {
  /*position: absolute;*/
  text-align: center;
  top: 100px;
}

.welcome {
  background-image: url("/img/pizza.jpg");
  background-position: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  color: white;
}

.ryan-title {
  text-align: center;
}
